<!doctype html>
<html>

<head>
    <title>Cover Letter</title>
</head>

<body>
    <h1>HERE IT IS!</h1>
    
    <h3>Simply copy your personalized cover letter below, and finish
        applying to your dream jobs!</j3>

    <p>
        Doggo ipsum dat tungg tho much ruin diet doge. Sub woofer extremely cuuuuuute much ruin diet heck most angery pupper I
        have ever seen many pats heckin angery woofer, boofers I am bekom fat corgo mlem. porgo. Wow very biscit blop smol
        shooberino mlem, ruff very jealous pupper shoob, puggo super chub borkf. long water shoob such treat. Thicc the
        neighborhood pupper heck ruff woofer, lotsa pats long doggo fat boi shibe smol, blep shibe long woofer. Shooberino snoot
        you are doing me the shock lotsa pats heckin good boys long woofer doggo, long doggo big ol pupper wow very biscit
        porgo. You are doin me a concern doggorino very hand that feed shibe big ol pupper very taste wow, heckin angery woofer
        borking doggo heckin good boys and girls. Corgo shoob boofers wrinkler wow very biscit, floofs what a nice floof
        fluffer. Waggy wags length boy bork very jealous pupper, heck floofs.
    </p>

    <form action="/">
        <div><button type='submit'>Home</div>
    </form>
    
</body>

</html>