{% extends 'base.html' %}

{% block title %}Experience Information{% endblock %}

{% block body %}

<h3>Wow, COMPANY-VAR would be lucky to have you! To seal the deal,
    let's get some info about your past experience:</h3>

<form action="/education">
    <div><label class='question'>How many years of experience do you have in this field?</label></div>
    <div><input type="number" name="years-experience" placeholder="2" required></div>
    
    <div><label class='question'>In under 2 sentences, tell me about your greatest 
        relevant professional accomplishment at your most recent job:</label></div>
    
    <div>
        <textarea name="accomplishment" required maxlength="350" placeholder=
            "Over a span of 3 months, I increased customer retention at Pearmelon by 30% by implementing a 100-day communication plan to address questions and progress.">
        </textarea>
    </div>

    <div><button type='submit'>Next</div>
</form>


{% endblock %}