{% extends 'base.html' %}

{% block title %}Experience Information{% endblock %}

{% block body %}

<div class='container'>
    <div class='inner-container'>

        <h3>Wow, {{ session['company'] }} would be lucky to have you!<br>
            To seal the deal, let's get some info about your<br>
            past experience:</h3>

        <form action="/education">
            <div><label class='question'>How many years of experience do you have in this field?</label></div>
            <div><input type="number" name="years-experience" placeholder="2" required></div>
            
            <div><label class='question'>In under 2 sentences, tell me about your greatest<br> 
                relevant professional accomplishment at your most recent job:</label></div>
            
            <div>
                <textarea name="accomplishment" required maxlength="350"></textarea>
            </div>

            <div><button type='submit'>next</div>
        </form>
    </div>
</div>

{% endblock %}