<!doctype html>
<html>

<head>
    <title>Cover Letter Generator</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styling-home.css" />
</head>

<body>
    <div class='container'>
        <div class='inner-container'>
            <h1>Generate a tailored<br>
                cover letter in<br>
                under 5 minutes!</h1>
            <form action="/start">
                <button type="submit">create my cover letter now</button>
            </form>
        </div>
    </div>
</body>

</html>