{% extends 'base.html' %}

{% block title %}Get Name{% endblock %}

{% block body %}

<div class='container'>
    <div class='inner-container'>
        <h3>We'll ask a few simple questions,<br>
            then put together a cover letter<br>
            custom made just for you!</h3>

        <form action="/job">
            <div><label class='question'>To get started, can we get your full name?</label></div>
            <div><input type="text" name="full-name" placeholder="Jane Smith" required></div>

            <div><button type='submit'>next</div>
        </form>
    </div>
</div>

{% endblock %}